In [1]:
# Import necessary libraries
import os
import django
import pandas as pd

In [2]:
os.chdir("..")  # Adjust the path to point to the root of your project
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'gymcrowd.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [3]:
from apps.gyms.models import Gym

In [4]:
gym_data = [
    {
        "name": "Helen Newman Fitness Center",
        "location": "163 Cradit Farm Dr, Ithaca, NY 14850",
        "type": "Fitness",
    },
    {
        "name": "Noyes Fitness Center",
        "location": "306 West Ave, Ithaca, NY 14850",
        "type": "Fitness",
    },
    {
        "name": "Teagle Down Fitness Center",
        "location": "512 Campus Rd, Ithaca, NY 14853",
        "type": "Fitness",
    },
    {
        "name": "Teagle Up Fitness Center",
        "location": "512 Campus Rd, Ithaca, NY 14853",
        "type": "Fitness",
    },
    {
        "name": "Toni Morrison Fitness Center",
        "location": "18 Sisson Pl, Ithaca, NY 14850",
        "type": "Fitness",
    },
        {
        "name": "HNH Court 1 Basketball",
        "location": "163 Cradit Farm Dr, Ithaca, NY 14850",
        "type": "Fitness",
    },
        {
        "name": "HNH Court 2 Volleyball/Badminton",
        "location": "163 Cradit Farm Dr, Ithaca, NY 14850",
        "type": "Fitness",
    },
        {
        "name": "Noyes Court Basketball",
        "location": "306 West Ave, Ithaca, NY 14850",
        "type": "Fitness",
    }
]

In [5]:
df = pd.DataFrame(gym_data)
print(f"Loaded {len(df)} gyms from the dataset.")
df.head()

Loaded 8 gyms from the dataset.

                           name                              location     type
0   Helen Newman Fitness Center  163 Cradit Farm Dr, Ithaca, NY 14850  Fitness
1          Noyes Fitness Center        306 West Ave, Ithaca, NY 14850  Fitness
2    Teagle Down Fitness Center       512 Campus Rd, Ithaca, NY 14853  Fitness
3      Teagle Up Fitness Center       512 Campus Rd, Ithaca, NY 14853  Fitness
4  Toni Morrison Fitness Center        18 Sisson Pl, Ithaca, NY 14850  Fitness

In [6]:
existing_gyms = set(Gym.objects.values_list('name', flat=True))

In [7]:
# Split data into new and existing records
df_existing = df[df['name'].isin(existing_gyms)]
df_new = df[~df['name'].isin(existing_gyms)]

print(f"Existing gyms: {len(df_existing)}")
print(f"New gyms: {len(df_new)}")

Existing gyms: 0
New gyms: 8

In [8]:
for _, row in df_existing.iterrows():
    Gym.objects.filter(name=row['name']).update(
        location=row['location'],
        type=row['type'],
    )
print("Updated existing gyms.")

Updated existing gyms.

In [9]:
# Bulk insert new gyms
new_records = [
    Gym(
        name=row['name'],
        location=row['location'],
        type=row['type'],
    )
    for _, row in df_new.iterrows()
]
Gym.objects.bulk_create(new_records, batch_size=500)

print(f"Inserted {len(new_records)} new gyms.")

Inserted 8 new gyms.

In [10]:
# Verify the database content
total_gyms = Gym.objects.count()
print(f"Total gyms in the database: {total_gyms}")

# Display some records from the database
Gym.objects.all()[:5]  # Display the first 5 records

Total gyms in the database: 8